<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'potepan/categories/light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<%= render 'potepan/categories/main_content_section', taxon: @taxon, taxonomies: @taxonomies %>
