<!-- BANNER -->
<%= render 'potepan/home/banner' %>
<!-- MAIN CONTENT SECTION -->
<%= render 'potepan/home/main_content_section', new_products: @new_products %>
<!-- LIGHT SECTION -->
<%= render 'potepan/home/light_section' %>
